__pycache__/
.ipynb_checkpoints/

models/runs/*
!models/runs/
models/runs/mnist/*
!models/runs/mnist/
!models/runs/mnist/ali-mnist/
!models/runs/mnist/cls-mnist/
!models/runs/mnist/pretrained/

adexp-env/
old/
experiments/results/images*

figures*
*.jpg
*.png
*.JPEG

*.pickle